In [5]:
import pandas as pd
serie = pd.Series([1,2,3,4,5])
usuario = pd.Series(["Jose","Cardona","Antonio","Diana","Juan"])
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
serie_1 = serie + 10
serie_1

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [4]:
serie_1 = serie * 10
serie_1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
correo_electronio = usuario +"@"+"hotmail"
correo_electronio

0       Jose@hotmail
1    Cardona@hotmail
2    Antonio@hotmail
3      Diana@hotmail
4       Juan@hotmail
dtype: object

In [9]:
correo_electronio = usuario*2
correo_electronio

0          JoseJose
1    CardonaCardona
2    AntonioAntonio
3        DianaDiana
4          JuanJuan
dtype: object

In [12]:
#Funciones vectorizadas
serie_2 = pd.Series([1,2,3,4,5])
serie_3 = serie_2.add(10)
serie_4 = serie_2.sub(10)
serie_5 = serie_2.mul(10)
serie_6 = serie_2.div(10)
serie_3

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [26]:
# Funciones de agregacio
serie_1=  pd.Series([1,2,3,4,5])
print(serie_1.sum())
print(round(serie_1.mean(),2))
print(serie_1.median())
print(serie_1.std())
print(serie_1.max())
print(serie_1.min())
print(serie_1.count())

15
3.0
3.0
1.5811388300841898
5
1
5