In [1]:
import pandas as pd

# Ejemplo de dataframe con calificaciones
data = {
    'Estudiante': ['Ana', 'Ana', 'Ana', 'Luis', 'Luis', 'Luis', 'María', 'María', 'María'],
    'Materia': ['Matemáticas', 'Historia', 'Ciencias', 'Matemáticas', 'Historia', 'Ciencias', 'Matemáticas', 'Historia', 'Ciencias'],
    'Calificación': [85, 90, 78, 88, 85, 92, 90, 88, 85]
}

df = pd.DataFrame(data)
df.head()

  Estudiante      Materia  Calificación
0        Ana  Matemáticas            85
1        Ana     Historia            90
2        Ana     Ciencias            78
3       Luis  Matemáticas            88
4       Luis     Historia            85

In [13]:
suma_calificaciones_ana = df[df['Estudiante'] == 'Ana']['Calificación'].sum()
predio_calificaciones_ana = df[df['Estudiante'] == 'Ana']['Calificación'].mean()
print(f"Suma y promedio de calificaciones de Ana: {suma_calificaciones} y {predio_calificaciones}")
print(f"Suma y promedio de calificaciones de Ana: {suma_calificaciones} y {predio_calificaciones}")

suma_calificaciones_ana = df[df['Estudiante'] == 'Luis']['Calificación'].sum()
predio_calificaciones_ana = df[df['Estudiante'] == 'Luis']['Calificación'].mean()

suma_calificaciones_ana = df[df['Estudiante'] == 'Maria']['Calificación'].sum()
predio_calificaciones_ana = df[df['Estudiante'] == 'Maria']['Calificación'].mean()
print("La calificacion mas alta en el dataframe es:", df["Calificación"].max)

Suma y promedio de calificaciones de Ana: 253 y 84.33333333333333
Suma y promedio de calificaciones de Ana: 253 y 84.33333333333333
La calificacion mas alta en el dataframe es: <bound method Series.max of 0    85
1    90
2    78
3    88
4    85
5    92
6    90
7    88
8    85
Name: Calificación, dtype: int64>