In [38]:
import pandas as pd
datos = {
    "Marketing": 32000, 
    "Ventas": 45000, 
    "Desarrollo de Producto": 62000, 
    "Soporte Técnico": 25000, 
    "Recursos Humanos": 15000, 
    "IT": 50000,
    "Operaciones": 47000,
    "Investigación y Desarrollo": 55000
}

gastos_mensuales = pd.Series(datos)
print(gastos_mensuales.size)
print(type(gastos_mensuales))
print(f"Estos son los gastos de ventas {gastos_mensuales["Ventas"]}, IT {gastos_mensuales["IT"]} e Investigación y Desarrollo {gastos_mensuales["Investigación y Desarrollo"]}")
print("=============================")
print(f"Estos son los gastos desde Marketing hasta Recursos Humanos \n{gastos_mensuales["Marketing":"Recursos Humanos"]}")
print("=============================")
print(f"Estos son los  gastos desde Desarrollo de Producto hasta Operaciones. \n{gastos_mensuales["Desarrollo de Producto":"Operaciones"]}")
print("=============================")
print(f"Estos son los gastos desde Soporte Técnico hasta la última división. \n{gastos_mensuales["Soporte Técnico":]}")
print("=============================")
gasto_total = gastos_mensuales.sum()
print(f"Este es el gasto total {gasto_total}")
print("=============================")
gasto_promedio = gastos_mensuales.mean()
print(f"Este es el promedio de gasto mensual {gasto_promedio}")
print("=============================")
print(f"Este es gasto más alto {gastos_mensuales.max()}")
print(f"Este es gasto más bajo {gastos_mensuales.min()}")

8
<class 'pandas.core.series.Series'>
Estos son los gastos de ventas 45000, IT 50000 e Investigación y Desarrollo 55000
=============================
Estos son los gastos desde Marketing hasta Recursos Humanos
Marketing                 32000
Ventas                    45000
Desarrollo de Producto    62000
Soporte Técnico           25000
Recursos Humanos          15000
dtype: int64
=============================
Estos son los  gastos desde Desarrollo de Producto hasta Operaciones.
Desarrollo de Producto    62000
Soporte Técnico           25000
Recursos Humanos          15000
IT                        50000
Operaciones               47000
dtype: int64
=============================
Estos son los gastos desde Soporte Técnico hasta la última división.
Soporte Técnico               25000
Recursos Humanos              15000
IT                            50000
Operaciones                   47000
Investigación y Desarrollo    55000
dtype: int64
=============================
Este es el gasto total 331000
=============================
Este es el promedio de gasto mensual 41375.0
=============================
Este es gasto más alto 62000)
Este es gasto más bajo 15000

In [40]:
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'], name='Columna1')
s2 = pd.Series([4, 5, 6], index=['a', 'b', 'c'], name='Columna2')
df = pd.DataFrame({s1.name: s1, s2.name: s2})
df

   Columna1  Columna2
a         1         4
b         2         5
c         3         6